# Java
*.jar
*.class
**/target/

# Eclipse.
.workspace
**/.classpath
**/.project
**/.settings

# VSCode.
.vscode

# Dice files.
*.dic

# Installer
installer/Dice/
installer/jre/
installer/libs/
*.zip

# View3D.
build/
view3D/build/*
**/*.log
glad.c